.container{

}
.container h1{
    background-color: bisque;
}

.editor{
    display:flex;
    flex-direction: row;
    width:100vh;
}

.left{
    display:flex;
    flex-direction: column;
    width:50vh;
}

.right{
    display:flex;
    flex-direction: column;
    width:50vh;
}